<section class="layout-module products-featured products-space-above"
  <h2 class="section-title">{{title}}</h2>

  {{#if grid.length}}
    <div
      class="
        product-grid-container
        grid-masonry
        layout-grid-of-{{column_count}}
      "
      {{#if settings.data_tag_enabled}}
        data-list-name="Featured Products"
        data-event-type="list"
      {{/if}}
      >
      <div class="layout-grid-sizer"></div>
      <div class="layout-grid-gutter"></div>

      {{#each grid}}
        {{#if @first}}
          {{> components/products/product-item
            this
            index=@index
            settings=../../settings
            show_large_first=../../show_large_first
            show_quick_shop=../../show_quick_shop
            default_image=../../default_image
            price_range_display=../../price_range_display
            retail_price_label=../../retail_price_label
            non_sale_price_label=../../non_sale_price_label
            sale_price_label=../../sale_price_label
            price_label=../../price_label
            sale_badges=../../sale_badges
          }}
        {{else}}
          {{> components/products/product-item
            this
            settings=../../settings
            show_quick_shop=../../show_quick_shop
            default_image=../../default_image
            price_range_display=../../price_range_display
            retail_price_label=../../retail_price_label
            non_sale_price_label=../../non_sale_price_label
            sale_price_label=../../sale_price_label
            price_label=../../price_label
            sale_badges=../../sale_badges
          }}
        {{/if}}
      {{/each}}

    </div>
  {{else}}
    <p>{{lang 'product_featured.no_products'}}</p>
  {{/if}}

</section>
